.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  flex-basis: 30em;
}

.card h1 {
  font-size: inherit;
  font-weight: inherit;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card a:hover {
  color: #0070f3;
}

.badges {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: start;
  font-size: 70%;
}

.badge_sponsor {
  background-color: lemonchiffon;
  padding: 0.5em 1em;
  border: 1px solid goldenrod;
  border-radius: 0.5em;
}

.resources {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: end;
  gap: 1em;
}

.resource {
  background-color: #eaeaea;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}